{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div>
            <p>Hi there!
                My name is Thifaine Noirault AKA Aylarius and I'm a web developer specialized in PHP and Symfony.
                This project is an attempt to gather as much resources as possible in order to help developers to learn more about Symfony and train for the certification.
                If you want more information about me or my projects, I invite you to get in touch:
            </p>

            <ul>
                <li>
                    <a href="http://github.com/Aylarius" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="http://fr.linkedin.com/in/thifainenoirault" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/Thif_Nlt" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li >
                <li>
                    <a href="http://www.viadeo.com/fr/profile/thifaine.noirault" target="_blank">
                        <i class="fa fa-viadeo"></i>
                    </a>
                </li>
                <li>
                    <a href="http://codepen.io/Aylarius" target="_blank">
                        <i class="fa fa-codepen"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:thifaine.noirault@gmail.com" target="_blank">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}


