{% extends 'base.html.twig' %}

{% block body %}
    <main class="text-center">
        <h2>{{ category.title }}</h2>
        <div class="card-container col-xs-12">
            <div class="row">
                {% for post in posts %}
                    <div class="card-wrapper col-xs-12 col-md-6">
                        {% include 'posts/thumbnail.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}